

/* .mainmenu-wrapper .page_nav ul.mainmenu li.lavel-1.with--drop>a::before {

  display: none;
}

.object-custom-menu>li.has-mega-menu>a::after {

  display: none !important;
} */

.test-slider-carousel {

  background-color: black;
  height: 500px;
  width: 100%;
}

#scrollUp {

  right: 90% !important;
}

.float {

  position: fixed;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 25px;
  line-height: 60px;
  background-color: #fff;
  color: #222;
  right: 20px;
  bottom: 60px;
  text-align: center;
  overflow: hidden;
  z-index: 9811 !important;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2)
}

.float i {

  color: #328110;
  font-size: 38px;
  margin-top: 20px;
}

.mainmenu-wrapper .page_nav ul.mainmenu {

  justify-content: end !important;
}

.bk-service-area h2 {

  font-family: 'louis_george_caferegular' !important;
}

.bk-number-speaks h2 {

  font-family: 'louis_george_caferegular' !important;
}

.custom-pt-40 {

  padding-top: 40px !important;
}

.custom-pt-0 {

  padding-top: 0px !important;
}

.custom-pb-60 {

  padding-bottom: 60px !important;
}

.custom-font-color {

  color: #68ae4a !important;
}

.custom-color-main {

  background-color: #68ae4a !important;
}

.custom-color-secondary {

  background-color: #27369f !important;
}

body.template-color-23 .single-motive-speach .icon i {

  color: #ffffff !important;
}

.custom-bg_image--about {
  background-image: url(../img/custom/product01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.custom-bg_image--contact {
  background-image: url(../img/custom/bg-image-55.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product_image--01 {
  background-image: url(../img/custom/product01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center
}

.product_image--02 {
  background-image: url(../img/custom/product02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center
}

.custom-text-white {

  color: #fff !important;
}

.custom-text-default {

  color: #68ae4a !important;
}

.custom-text-secondary {

  color: #27369f !important;
}
