
html {

  /* font-family: 'Josefin Sans', sans-serif !important; */
}

/* .mainmenu-wrapper .page_nav ul.mainmenu li.lavel-1.with--drop>a::before {

  display: none;
}

.object-custom-menu>li.has-mega-menu>a::after {

  display: none !important;
} */

.fw-200 {

  font-weight: 200 !important;
}

.option-area {

  height: 100%;
}

.custom-carousal-primary {

  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-carousal-option {

  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.test-slider-carousel {

  background-color: black;
  height: 500px;
  width: 100%;
}

#scrollUp {

  right: 90% !important;
}

.float {

  position: fixed;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 25px;
  line-height: 60px;
  background-color: #fff;
  color: #222;
  right: 20px;
  bottom: 60px;
  text-align: center;
  overflow: hidden;
  z-index: 9811 !important;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2)
}

.float i {

  color: #328110;
  font-size: 38px;
  margin-top: 20px;
}

.mainmenu-wrapper .page_nav ul.mainmenu {

  justify-content: end !important;
}

.bk-service-area h2 {

  font-family: 'louis_george_caferegular' !important;
}

.bk-number-speaks h2 {

  font-family: 'louis_george_caferegular' !important;
}

.custom-pt-40 {

  padding-top: 40px !important;
}

.custom-pt-0 {

  padding-top: 0px !important;
}

.custom-pb-60 {

  padding-bottom: 60px !important;
}

.custom-font-color {

  color: #e30110 !important;
}

.custom-color-main {

  background-color: #e30110 !important;
}

.custom-color-secondary {

  background-color: #e30110 !important;
}

body.template-color-23 .slick-dots-bottom .slick-dots li.slick-active button {

  background-color: #e30110 !important;
}

body.template-color-23 .title-separator.color-blue::after, body.template-color-23 .title-separator.color-red::after {

  background-color: #e30110 !important;
}

body.template-color-23 .single-motive-speach .icon i {

  color: #ffffff !important;
}

.custom-bg_image--about {
  background-image: url(../img/custom/product01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.custom-bg_image--contact {
  background-image: url(../img/custom/bg-image-55.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product_image--01 {
  background-image: url(../img/custom/product01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center
}

.product_image--02 {
  background-image: url(../img/custom/product02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center
}

.bg_custom-image--37 {

  background-image: url(../img/custom/bg-image-37.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 500px;
}

.custom-text-white {

  color: #fff !important;
}

.custom-text-default {

  color: #e30110 !important;
}

.custom-text-secondary {

  color: #e30110 !important;
}

.custom-input-box {

  background: white;
}

.feature-add-button, .feature-remove-button {

  cursor: pointer;
}

.uploaded-img img {

  width: 100%;
  height: 100px;
  object-fit: cover;
}

.custom-model {

  z-index: 10000 !important;
  overflow: none !important;
}

.post-thumb a img {

  width: 100% !important;
  height: 200px !important;
  object-fit: cover !important;
}

.bg_custom-image--37::before {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #0000009c, #0000009c);
  opacity: .7;
}

.custom-bg-image::before {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #000000, #00000000);
  opacity: .7;
}

.portfolio-details-list {

  grid-template-columns: repeat(3, 1fr) !important;
}

body.template-color-23.custom-essential-btn:hover {

  background: #fffefe !important;
  border-color: #fffefe !important;
}

.swiper img {

  width: 160px;
  height: 100px;
  object-fit: cover;
  display: block;
  margin: auto;
}

.titleIndexImage img {

  height: 300px !important;
  object-fit: cover;
}

@media screen and (max-width: 650px) {

  .portfolio-details-list {

    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 400px) {

  .portfolio-details-list {

    grid-template-columns: repeat(1, 1fr) !important;
  }
}
